<%inherit file="/components/base/base.html" />
<%def name="title()">${c.page.title}</%def>

                    <h2>${c.page.title}</h2>

                    ${tags.form(url.current(action='submit'), method='post', multipart=True)}
                        ${tags.hidden('token', session.get('token'))}
                        <dl>
                            <dt><label for="my_image">Afbeelding</label></dt>
                            <dd>
%if c.image.id != 'new':
                                <div class="image">
                                    <img src="${url(controller='fetch', action='image', id=c.image.id, name=c.image.filename)}" alt="${c.image.filename}" />
                                </div>
%endif
                                ${tags.file('image', id='my_image')}
                            </dd>
                        </dl>

                        ${tags.submit('opslaan', 'Opslaan', class_='btn btn-primary')}
                    ${tags.end_form()}
