<%inherit file="/components/base/base.html" />
<%def name="title()">${c.page.title} bewerken</%def>

            <h2>${c.page.title} bewerken</h2>

            ${tags.form(url(controller='page', action='submit', id=c.page.id), method='post')}
                ${tags.hidden('token', session.get('token'))}
                <dl>
                    <dt><label for="my_title">Titel</label></dt>
                    <dd>${tags.text('title', id='my_title', value=c.page.title)}</dd>
                    <dt><label for="my_menutitle">Menutitel</label></dt>
                    <dd>${tags.text('menutitle', id='my_menutitle', value=c.page.menutitle)}</dd>
                    <dt><label for="my_content">Inhoud</label></dt>
                    <dd>
                        ${tags.textarea('content', id='my_content', class_='large-text', content=c.page.getContent())}
                    </dd>
                </dl>
                ${tags.submit('opslaan', 'Opslaan', id='opslaan_submit', class_='btn btn-primary')}
            ${tags.end_form()}

            <div class="column_footer">&nbsp;</div>
