<%inherit file="/components/base/base.html" />
<%def name="title()">${c.page.title}</%def>

            <div id="metamenu">
                <a href="#">print pagina</a> | <a href="#">e-mail deze pagina</a>
            </div>
            <h2>
                ${c.page.title}
%if session.get('cmsuser'):
                <a href="#" class='cmsoption' onclick="return cmsmenu('page', ${c.page.id}, this);"><img src="/img/icons/edit.png" /></a>
%endif
            </h2>
%if c.page.content:
            ${h.literal(h.textile(c.page.content.content))}
%else:
            <p>Deze pagina heeft nog geen content.</p>
%endif
