<% item = pageargs['item'] %>
%if item.active:
                        <div>
%else:
                        <div class="disabled">
%endif
                            <h3>
                                ${item.title}
%if c.cmsuser:
                                <a href="#" class="cmsoption" onclick="return cmsmenu('news', ${item.id}, this);"><img src="/img/icons/edit.png" /></a>
%endif
                            </h3>
                            <p>Gepubliceerd op ${h.dutchTime("%d %B %Y", item.created)}</p>
%if item.content and item.teaser:
                            ${h.literal(h.textile(item.teaser))}
                            <p><a href="${url(controller='news', action='view', id=item.id, title=item.getURLTitle())}">lees meer</a></p>
%elif item.content:
                            ${h.literal(h.textile(item.content))}
%else:
                            ${h.literal(h.textile(item.teaser))}
%endif
                        </div>
