<%inherit file="/components/base/base.html" />
%if c.item.id == 'new':
<%def name="title()">Nieuw nieuwsitem schrijven</%def>
%else:
<%def name="title()">${c.item.title} bewerken</%def>
%endif

%if c.item.id == 'new':
                    <h2>Nieuw nieuwsitem schrijven</h2>
%else:
                    <h2>${c.item.title} bewerken</h2>
%endif
                    <div class="hr firsthr">
                        <hr />
                    </div>
                    ${tags.form(url(controller='news', action='submit', id=c.item.id))}
                        ${tags.hidden('token', session.get('token'))}
                        <dl>
                            <dt><label for="my_title">Titel</label></dt>
                            <dd>${tags.text('title', id='my_title', value=c.item.title)}</dd>
                            <dt><label for="teaser">Teaser</label></dt>
                            <dd>${tags.textarea('teaser', id='teaser', class_='large-text', content=c.item.teaser)}</dd>
                            <dt><label for="content">Inhoud</label></dt>
                            <dd>${tags.textarea('content', id='content', class_='large-text', content=c.item.content)}</dd>
                        </dl>
                        ${tags.submit('opslaan', 'Opslaan', class_='btn btn-primary')}
                    ${tags.end_form()}
