<%inherit file="/components/base/base.html" />
<%def name="title()">Nieuws</%def>

<%include file="/components/page/pagetitle.html" args="page=c.page"/>
%if len(c.news):
    %for item in c.news:
<%include file="/components/news/newsitem.html" args="item=item" />
    %endfor

    %if c.pagination:
<%include file="/components/base/pagination.html" args="pages=h.pagination.getPageList(c.numnews)" />
    %endif
%else:
                    <h3>Helaas</h3>
    %if not c.cmsuser:
                    <p>Geen nieuws gevonden.</p>
    %else:
                    <p>Er is nog geen nieuws geplaatst, <a href="${url(controller='news', action='edit', id='new')}">plaats het eerste item!</a></p>
    %endif
%endif
