#cmsmenu-overlay, #cmsmenu {
    background-color: white;
    border: 1px solid #CCC;
    padding: 0px 0px;
    font-size: 0.8em;
}

#cmsmenu {
    position: fixed;
    right: 20px;
    top: 20px;
}

#cmsmenu-overlay {
    display: none;
    position: absolute;
}

#cmsmenu h3 {
    background-color: #232526;
    color: white;
    font-size: 1em;
    padding: 0.2em 1em;
    margin: 0 0 1em 0;
}

#cmsmenu ul {
    margin: 0 0 1em 0;
    padding: 0;
}
#cmsmenu-overlay ul {
    margin: 0;
    padding: 0;
}
#cmsmenu li.separate,
#cmsmenu-overlay li.separate {
    margin-top: 10px;
}

#cmsmenu li,
#cmsmenu-overlay li {
    list-style-type: none;
}

#cmsmenu li a,
#cmsmenu-overlay li a {
    display: block;
    padding: 0em 1em;
    line-height: 1.8em;
}

#cmsmenu li a:hover,
#cmsmenu-overlay li a:hover {
    background-color: #EEE;
}

.wysiwyg {
    height: 250px;
}
.login {
    border: 0px solid #ffffff;
}
.note {
    border: 1px solid #000000;
    font-size: 9px;
    color: #FF0000;
}
#cmsuser .fullname {
    display: inline;
    margin-right: 5px;
}
#cmsuser .username {
    display: inline;
    margin-right: 5px;
}
#cmsuser .actions {
    display: inline;
}
table.stats th {
    font-weight: normal;
    text-align: left;
}
table.stats td {
}

.disabled {
    background-repeat: repeat;
    background-image: url(../img/disabled.png);
    background-color: white;
}

nav li { padding-right: 20px; position: relative; }
nav .cmsoption {
    position: absolute;
    right: 0px;
    top: 0px;
}
body.cms .content img {
    border: 0px !important;
    margin: 0px;
    padding: 0px;
}

.content .cmsoption img {
    border: 0px !important;
    margin: 0px;
    padding: 0px;
}
