        <div class="footer">
            <div class="footer-inner">
                <ul id="social">
                    <li id="payoff">Opdrachtgevert |
                        <a href="${url.current()}">Sitemap</a> |
                        <a href="${url.current()}">Disclaimer</a> |
                        <a href="${url.current()}">Privacybeleid</a>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
