<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>${self.title()}</title>
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
        <link href="/res/style.css" rel="stylesheet" type="text/css">
        <script src="/res/jquery.js" type="text/javascript" ></script>
    </head>
    <body id="iframe">
        ${self.body()}
    </body>
</html>
