<%inherit file="/components/base/base.html" />
<%def name="title()">${c.page.title}</%def>

                    <h2>Gebruiker bewerken</h2>
                    <div class="hr firsthr">
                        <hr />
                    </div>

                    ${tags.form(url(controller='cmsuser', action='submit', id=c.usr.id), method='post', id='inschrijven')}
                        ${tags.hidden('token', session.get('token'))}
                        <dl>
                            <dt><label for="fullname">Volledige naam</label></dt>
                            <dd>${tags.text('fullname', c.usr.fullname, 'fullname')}</dd>
                        </dl>
                        <dl>
                            <dt><label for="username">login</label></dt>
                            <dd>${tags.text('username', c.usr.username, 'username')}</dd>
                        </dl>
                        <dl>
                            <dt><label for="password1">Wachtwoord</label></dt>
                            <dd>${tags.password('password1', '', 'password1')}</dd>
                        </dl>
                        <dl>
                            <dt><label for="password2">Wachtwoord (herhaling)</label></dt>
                            <dd>${tags.password('password2', '', 'password2')}</dd>
                        </dl>
                        <input name="opslaan" type="submit" class="readmore" id="inschrijven_submit" value="Opslaan"> 
                        <div class="hr"> 
                            <hr /> 
                        </div>
                    ${tags.end_form()}
