<%inherit file="/components/base/normal/base.html" />
<%def name="title()">Document bewerken</%def>

                    <div class="column">
<%include file="/components/page/submenu.html" args="node=c.page" />
                    </div>

                    <div class="column columndouble">
                        <h2>Document bewerken</h2>
                        <div class="hr">
                            <hr />
                        </div>

                        ${h.tags.form(url.current(action='submit'), method='post', multipart=True)}
                            <dl>
                                <dt><label for="document">Document</label></dt>
                                <dd>
%if c.document.id != 'new':
                                    <div class="document">
                                        ${c.document.filename} / ${h.sizeof_fmt(c.document.filesize)}
                                    </div>
%endif
                                    ${h.tags.file('document', id='document')}
                                </dd>
                            </dl>

                            ${h.tags.submit('opslaan', 'Opslaan', class_='readmore', id='inschrijven_submit')}
                            <div class="hr"> 
                                <hr /> 
                            </div>
                        ${h.tags.end_form()}
                    </div>
                    <div class="column_footer">&nbsp;</div>