<%inherit file="/components/base/base.html" />
<%def name="title()">CMS</%def>

                    <div class="column">
                        <div class="helptext">
                            &nbsp;
                        </div>
                    </div>

                    <div class="column columndouble">
                        <p>Je bent zojuist ingelogd in het CMS systeem. Met behulp van de toevoegingen in de menu's kan je eenvoudig nieuwe pagina's toevoegen of bestaande bewerken. Teksten invullen op die pagina's gaat met behulp van Textile.</p>
                    </div>
                    <div class="column_footer">&nbsp;</div>
