<%inherit file="/components/base/base.html" />
<%def name="title()">CMS Login</%def>

                    <h2>Inloggen in het CMS</h2>
%if c.error:
                    <p class="alert alert-error">${c.error}</p>
%endif
%if c.info:
                    <p class="alert alert-info">${c.info}</p>
%endif
                    <form name="cmslogin" method="post" action="${url(controller='cms', action='submit')}">
                        ${tags.hidden('token', session.get('token'))}
                        <dl>
                            <dt><label for="username">Gebruikersnaam</label></dt>
                            <dd>${tags.text('username')}</dd>
                            <dt><label for="passwd">Wachtwoord</label></dt>
                            <dd>${tags.password('passwd')}</dd>
                        </dl>
                        <input name="submit" type="submit" class="btn btn-primary" value="Inloggen"> 
                    </form>
                    <div class="column_footer">&nbsp;</div>
